<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title='<img class="title-image" src="img/logos-01.png" />'>
  <ion-content class="">
    <span class="nombre">{{name}}<br />
    <span class="header-info" >Ip: {{ip}}</span>
    <span class="header-info">Último ingreso {{ingreso}}</span>
    </span>
    <div class="card">
      <div class="item item-divider">
        Activaci&oacute;n de Tarjeta Ol&iacute;mpica
      </div>
      <div class="padding center">
        <label class="item item-input item-floating-label">
          <p class="input-label label1">N&uacute;mero tarjeta nueva</p>
        	<input class="input1" type="text" pattern="[0-9]*"  placeholder="N&uacute;mero tarjeta nueva" ng-model="tar_nue" ui-mask="9999 9999 9999 9999" inputmode="numeric" ui-mask-placeholder ui-mask-placeholder-char="_">
        </label>
        <label class="item item-input item-floating-label">
          <p class="input-label label1">N&uacute;mero tarjeta anterior</p>
        	<input class="input1" type="text" pattern="[0-9]*"  placeholder="N&uacute;mero tarjeta anterior" ng-model="tar_ant" ui-mask="9999 9999 9999 9999" inputmode="numeric" ui-mask-placeholder ui-mask-placeholder-char="_">
        </label>
        <button class="button1" ng-click="activar(tar_ant, tar_nue)">
        	Activar
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
