
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />' >
  <ion-content class="">
  <span class="nombre" >{{name}}<br />
    <span class="header-info" >Último ingreso {{ingreso}} Ip: {{ip}}</span></span>
    <div class="padding center">
        <label class="item-input-wrapper item-input input1">
        	<input type="password" pattern="[0-9]*" inputmode="numeric" placeholder="Contraseña Actual" ng-model="pass" maxlength="4">
        </label>
        <label class="item-input-wrapper item-input input1">
        	<input type="password" pattern="[0-9]*" inputmode="numeric" placeholder="Nueva Contraseña" ng-model="confirmPass" maxlength="4">
        </label>

        <button class="button1" ng-click="changePass(pass, confirmPass)">
        	Cambiar Contraseña
        </button>
    </div>
  </ion-content>
</ion-view>
