<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />'>
  <div>
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </div>
  <div class="bar bar-subheader bar-assertive">
    <h2 class="title">T&eacute;rminos y Condiciones</h2>
  </div>
  <ion-content class="center padding has-header has-subheader">
    <p align="center">
      <strong>REGLAMENTO DE USO DE LA APLICACI&#211;N M&#211;VIL SERFINANSA</strong>
    </p>
    <p align="center">
      En el presente documento se establecen las condiciones de uso a trav&#233;s de las cuales el <strong>CLIENTE</strong> puede acceder a los contenidos y servicios de la p&#225;gina web de Serfinansa <a href="http://www.serfinansa.com.co">www.serfinansa.com.co</a>      y su aplicaci&#243;n m&#243;vil "Serfinansa M&#243;vil" en adelante <strong>EL CANAL</strong>, y se definen los derechos, obligaciones y consecuencias del incumplimiento de las disposiciones definidas y dem&#225;s informaci&#243;n relevante para
      el uso de <strong>EL</strong> <strong>CANAL</strong> entre <strong>SERFINANSA</strong> y <strong>El CLIENTE</strong>, las cuales aceptan por medio de la utilizaci&#243;n de <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA PRIMERA. - DEFINICIONES: </strong> Para efectos del presente reglamento, se entender&#225;n las siguientes definiciones, las cuales podr&#225;n estar escritas en may&#250;sculas o min&#250;sculas.
    </p>
    <p align="center">
      <strong>1. </strong>
      <strong>P&#193;GINA WEB SERFINANSA: </strong> (World Wide Web) Se define como el sitio Web de Serfinansa que le permite desde cualquier lugar del mundo realizar transacciones y acceder de forma inmediata a toda la informaci&#243;n de nuestros productos
      y servicios.<strong></strong>
    </p>
    <p align="center">
      <strong>2. </strong>
      <strong>APLICACI&#211;N: </strong> Se define como aplicaci&#243;n a un programa inform&#225;tico que le permite a un cliente la realizaci&#243;n de una tarea o conjunto de tareas en el sistema donde se ejecuta, ya sea en computadores, tablets o
      los tel&#233;fonos inteligentes.<strong></strong>
    </p>
    <p align="center">
      3. Un <strong>NAVEGADOR O NAVEGADOR WEB, </strong>es un software que permite el acceso a internet, interpretando la informaci&#243;n de distintos tipos de archivos y sitios webs para que estos puedan ser visualizados.
    </p>
    <p align="center">
      <strong>4. </strong>
      <strong>CLIENTE: </strong> Se define como <strong>CLIENTE </strong>para efectos de <strong>EL CANAL</strong>, la Persona Natural que se encuentra vinculado con <strong>SERFINANSA </strong>y ha solicitado su contrase&#241;a a trav&#233;s de los mecanismos
      dispuestos por<strong> SERFINANSA </strong>para este fin y el cual podr&#225; utilizar los contenidos y servicios de <strong>EL CANAL.</strong> Adem&#225;s sin ser cliente quien tenga acceso al canal podr&#225; consultar los puntos de atenci&#243;n
      de Serfinansa y los tel&#233;fonos de contacto.<strong></strong>
    </p>
    <p align="center">
      <strong>5. </strong>
      <strong>USUARIO: </strong> Se define como <strong>USUARIO</strong> la identificaci&#243;n con caracteres alfanum&#233;ricos que coloque el cliente para autenticar su identidad. <strong></strong>
    </p>
    <p align="center">
      <strong>6. </strong>
      <strong>CONTRASE&#209;A:</strong> Se define como <strong>CONTRASE&#209;A</strong> para efectos de <strong>EL CANAL</strong>, a la forma de autenticaci&#243;n secreta y &#250;nica para cada cliente con el fin de permitirle su acceso a <strong>EL CANAL</strong>.
      Es num&#233;rica de cuatro d&#237;gitos.<strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA SEGUNDA. - USO DEL CANAL: </strong> Los servicios y contenidos de <strong>EL CANAL</strong>, tendr&#225;n las siguientes condiciones:
    </p>
    <p align="center">
      <strong>1. </strong>
      <strong>El CLIENTE </strong> solo podr&#225; utilizar <strong>EL CANAL</strong> para su uso personal e intransferible.<strong></strong>
    </p>
    <p align="center">
      <strong>2. </strong>
      <strong>
  EL CLIENTE se acoge a los horarios de corte contable o ciclo operativo que practique internamente SERFINANSA para determinar en cual d&#237;a
  quedar&#225;n registradas las operaciones realizadas por EL CLIENTE.
</strong>
    </p>
    <p align="center">
      <strong>3. </strong> Los contenidos y servicios de <strong>EL CANAL</strong> estar&#225;n disponibles, a menos de que se presente fuerza mayor, caso fortuito o hecho de un tercero..
      <strong></strong>
    </p>
    <p align="center">
      <strong>4. </strong> Los servicios de <strong>EL CANAL</strong> se regular&#225;n por los contratos o reglamentos del respectivo producto o servicio, o en su defeco, por la normas legales que sean aplicables y la costumbre bancaria.<strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA TERCERA. - CONTENIDOS DEL CANAL: EL CANAL </strong> prestar&#225; los servicios de contenido de: productos, servicios, desembolsos, seguridad, informaci&#243;n de puntos de venta y tel&#233;fonos de servicio al cliente. Los
      contenidos podr&#225;n ser modificados o eliminados por <strong>SERFINANSA.</strong> <strong>PAR&#193;GRAFO:</strong> Los contenidos disponibles DEL CANAL ser&#225;n informados a trav&#233;s de www.serfinansa.com.co<strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA CUARTA. - SERVICIO DEL CANAL: EL CLIENTE </strong> acepta que <strong>SERFINANSA</strong> ser&#225; libre de determinar las operaciones, transacciones, traslados, consultas, movimientos, pagos, servicios, descuentos por servicios
      o los que en un futuro llegue a establecer, que funcionar&#225;n a trav&#233;s D<strong>EL CANAL</strong>, as&#237; como el tipo de formato, procedimiento, condiciones y t&#233;rminos que se tendr&#225;n en cuenta. Por lo tanto, EL CLIENTE se obliga
      a cumplir todas las normas, instrucciones y el procedimiento que establezca <strong>SERFINANSA PAR&#193;GRAFO PRIMERO: SERFINANSA</strong> ser&#225; libre de prestar, retirar temporal o definitivamente las operaciones, transacciones, traslados,
      consultas, movimientos, pagos, servicios, descuentos por servicios o los que en un futuro llegare a establecer. <strong>PAR&#193;GRAFO TERCERO:</strong> Los servicios disponibles de <strong>EL CANAL</strong> ser&#225;n informados a trav&#233;s de
      www.serfinansa.com.co
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA QUINTA. - OBLIGACIONES DEL CLIENTE:</strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>1. </strong> Usar debidamente los servicios y contenidos de <strong>EL CANAL,</strong> en especial a no impartir instrucciones imprecisas, indeterminables e inexactas. <strong>SERFINANSA </strong>se reserva el derecho de autorizar o no una
      operaci&#243;n o transacci&#243;n solicitada por <strong>EL CLIENTE </strong>cuando &#233;sta, a juicio de <strong>SERFINANSA,</strong> no sea clara, precisa o determinable, reserva <strong>que EL CLIENTE</strong> acepta.<strong></strong>
    </p>
    <p align="center">
      <strong>2. </strong>
      <strong>EL CLIENTE</strong> se obliga a no divulgar y dar a conocer a terceros su usuario y su contrase&#241;a.<strong></strong>
    </p>
    <p align="center">
      <strong>3. </strong> No permitir que terceras personas operen los servicios y contenidos de <strong>EL CANAL</strong> mediante el uso de la contrase&#241;a asignada y dem&#225;s medios transaccionales.<strong></strong>
    </p>
    <p align="center">
      <strong>4. </strong> Establecer los controles necesarios a fin de evitar que terceras personas puedan operar los servicios de <strong>EL CANAL,</strong> sin perjuicio de la responsabilidad que asume <strong>EL CLIENTE</strong> por dichas operaciones.<strong></strong>
    </p>
    <p align="center">
      <strong>5. </strong> Cumplir las recomendaciones formuladas por <strong>SERFINANSA</strong> en cuanto a la forma de operar y seguridades de los servicios de <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      <strong>6. </strong> Guardar debida reserva sobre la forma, manejo, funcionalidades y facilidades de los servicios y contenidos de <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      <strong>7. </strong> No ceder, ni hacerse sustituir por terceros en el ejercicio de los derechos y compromisos que asume.<strong></strong>
    </p>
    <p align="center">
      <strong>8. </strong> Cumplir con las condiciones y requisitos necesarios para realizar las operaciones a trav&#233;s de <strong>EL CANAL</strong>, uso de la operaci&#243;n del sistema, suministrar completa la informaci&#243;n en los formularios
      y solicitudes, evitar da&#241;os en los sistemas de transmisi&#243;n de datos y todos evitar omisiones o acciones que perjudiquen al uso de <strong>EL CANAL</strong> y que est&#233;n por fuera del control de <strong>SERFINANSA.</strong>
    </p>
    <p align="center">
      <strong>9. </strong> Adquirir y manejar los medios de comunicaci&#243;n necesarios para utilizar los servicios y contenidos de <strong>EL CANAL</strong> y disponer de los dispositivos f&#237;sicos que le permitan recibir o transmitir, v&#237;a internet,
      la informaci&#243;n aqu&#237; prevista. <strong>EL CLIENTE</strong> adquirir&#225; y mantendr&#225; a su propio costo y gasto todo el equipo y los medios de comunicaci&#243;n necesarios para utilizar el servicio y,<strong>SERFINANSA</strong> no
      se har&#225; responsable de la disponibilidad, ni de la confiabilidad de dicho equipo o de los medios de comunicaci&#243;n. <strong></strong>
    </p>
    <p align="center">
      <strong>10. </strong> Se obliga a acceder a <strong>EL CANAL</strong> a trav&#233;s de un sitio seguro.<strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA SEXTA. - MECANISMO DE SEGURIDAD DE EL CLIENTE: </strong> La contrase&#241;a con la cual <strong>EL CLIENTE</strong> ingresa y utiliza los servicios de <strong>EL CANAL</strong> es de uso personal e intransferible. <strong>EL CLIENTE</strong>      se obliga a mantenerla bajo absoluta reserva, a fin de que nadie m&#225;s tenga acceso a los servicios ofrecidos. La contrase&#241;a se asignar&#225; seg&#250;n los procedimientos establecidos para este fin, el cual ser&#225; informado a trav&#233;s
      de la p&#225;gina web de la entidad www.serfinansa.com.co<strong></strong>
    </p>
    <p align="center">
      <strong>PAR&#193;GRAFO: EL CLIENTE</strong> autoriza que con el ingreso de su contrase&#241;a pueda realizar, de manera autom&#225;tica, una vez SERFINANSA compruebe la contrase&#241;a y datos, consultas, movimientos, saldos, servicios de bloqueo
      y activaci&#243;n de tarjetas, informaci&#243;n sobre los puntos de ventas y l&#237;nea de servicio, desembolsos por cr&#233;dito rotativo y cambio de contrase&#241;a.
    </p>
    <p align="center">
      <strong>CL&#193;SULA S&#201;PTIMA. - TARIFAS Y COSTOS: SERFINANSA</strong> queda facultada para establecer y cobrar a EL CLIENTE las tarifas que defina por concepto de la utilizaci&#243;n de <strong>EL CANAL,</strong> lo cual se regir&#225; por
      la normatividad vigente.
    </p>
    <p align="center">
      <strong>CL&#193;USULA. - RESPONSABILIDAD: SERFINANSA</strong> no ser&#225; responsable, entre otros, por los siguientes eventos: a)Por el uso indebido de servicio por parte de personas no autorizadas o no por <strong>EL CLIENTE. </strong>En consecuencia,
      <strong>EL CLIENTE</strong> asume la responsabilidad de las operaciones ordenadas mediante el servicio al sistema de computaci&#243;n de <strong>SERFINANSA</strong>, sin requisito distinto que la orden que se haya impartido a trav&#233;s del servicio
      y empleando la contrase&#241;a de acceso en los t&#233;rminos establecidos en el presente reglamento salvo que se demostrare responsabilidad imputable a <strong>SERFINANSA. </strong>B)Por los perjuicios que pueda sufrir <strong>EL CLIENTE </strong>a
      consecuencia de una imposibilidad, demora o deficiente transmisi&#243;n de los datos u operaciones solicitadas en su sistema de computaci&#243;n o en su sistema de telefon&#237;a celular, a causa de fallas en los equipos de <strong>EL CLIENTE</strong>,
      redes telef&#243;nicas u otras, ajenas al control de <strong>SERFINANSA</strong>. C)Fuerza mayor, caso fortuito, causa extra&#241;a o hecho de un tercero y que en un momento puedan ocasionarle perjuicios a <strong>EL CLIENTE</strong> que imposibilite,
      demore, desv&#237;e o altere la realizaci&#243;n de operaciones y transacciones. D) Si las operaciones no pueden realizarse por causas atribuidas a <strong>EL CLIENTE</strong>, tales como incorrecta operaci&#243;n del sistema, omisiones o insuficiencia
      de informaci&#243;n en los formularios y solicitudes, por da&#241;os en los sistemas de transmisi&#243;n de datos, u otros que est&#233;n por fuera del control de <strong>SERFINANSA.</strong> E) Por problemas t&#233;cnicos, por actividades de mantenimiento
      o por suspensi&#243;n del servicio, debido a un evento de fuerza mayor, caso fortuito, causa extra&#241;a o hecho de un tercero. F) <strong>SERFINANSA</strong> no tendr&#225; responsabilidad o carga alguna frente a Proveedores, Sitios de Terceros,
      y cualquier otra persona respecto a cualquier acto, omisi&#243;n o garant&#237;a ofrecidos por dichos terceros, pues <strong>SERFINANSA</strong> queda desligado de cualquier negocio celebrado entre <strong>EL CLIENTE</strong> y dichos terceros.
    </p>
    <p align="center">
      La consulta de datos e informes t&#233;cnicos distintos a los necesarios para la ejecuci&#243;n de las transacciones y que se presentan a trav&#233;s de la p&#225;gina web, comportan simplemente un instrumento que brinda a los Consumidores Financieros
      elementos y herramientas para la toma de decisiones financieras informadas, permiti&#233;ndoles de igual forma conocer las diferentes condiciones y caracter&#237;sticas del portafolio de Productos y Servicios ofrecidos por SERFINANSA, raz&#243;n
      por la cual no deben tomarse como una asesor&#237;a, recomendaci&#243;n o sugerencia por parte de <strong>SERFINANSA</strong> para la toma de decisiones de inversi&#243;n o la realizaci&#243;n de cualquier tipo de transacciones o negocios.
      Los valores, tasas de inter&#233;s, cotizaciones y dem&#225;s datos que all&#237; se encuentren, son puramente informativos y no constituyen una oferta, ni una demanda en firme, para la realizaci&#243;n de transacciones.
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA OCTAVA.- PRUEBA DE LAS OPERACIONES: SERFINANSA </strong> se obliga a dejar prueba de las operaciones mediante un registro f&#237;sico o sistematizado de cada operaci&#243;n que se realice mediante <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      <strong>C&#193;USULA NOVENA.- L&#205;MITE DE LAS OPERACIONES: SERFINANSA</strong> podr&#225; establecer l&#237;mites a las operaciones que se realicen a trav&#233;s de los servicios de <strong>EL CANAL, lo cual informar&#225; previamente a EL CLIENTE a trav&#233;s de la p&#225;gina www.serfinansa.com.co.</strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA. - DE LAS OPERACIONES: EL CLIENTE</strong> autoriza a <strong>SERFINANSA</strong> a revocar total o parcialmente los servicios en los siguientes eventos:
    </p>
    <p align="center">
      1. En el evento de presentarse irregularidades en el uso de <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      2. Como medida de seguridad para <strong>SERFINANSA</strong> o para el mismo CLIENTE por irregularidades o circunstancias que impliquen tal hecho.
    </p>
    <p align="center">
      3. En el evento en que <strong>EL CLIENTE</strong> no cumpla con las instrucciones de seguridad informadas por <strong>SERFINANSA.</strong>
    </p>
    <p align="center">
      4. El incumplimiento de <strong>EL CLIENTE</strong>, de las condiciones de este reglamento.
    </p>
    <p align="center">
      5. Cualquier otra circunstancia objetiva que amerite tal limitaci&#243;n.
    </p>
    <p align="center">
      6. Mora en el pago de cualquier obligaci&#243;n a favor de S<strong>ERFINANSA.</strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA PRIMERA. NOVEDADES DEL CANAL.</strong>
    </p>
    <p align="center">
      <strong>11.1. Bloqueo.</strong>
    </p>
    <p align="center">
      <a><strong>El CLIENTE</strong></a> puede solicitar el bloqueo preventivo del servicio de <strong>EL CANAL</strong>, a trav&#233;s de la llamada a la l&#237;nea de Servicio al Cliente de<strong>SERFINANSA</strong>. , de acuerdo al procedimiento establecido
      en la p&#225;gina web de la entidad. <a id="_anchor_1" href="#_msocom_1" name="_msoanchor_1">[NFM1]</a>
    </p>
    <p align="center">
      <strong>SERFINANSA</strong> puede bloquear de manera preventiva <strong>EL CANAL</strong> por razones de seguridad, inconvenientes t&#233;cnicos, cuentas embargadas o por cualquier circunstancia objetiva que as&#237; lo amerite; de lo cual dar&#225;
      aviso oportuno al <strong>CLIENTE.</strong>
    </p>
    <p align="center">
      <strong>11.2. Reactivaci&#243;n.</strong>
    </p>
    <p align="center">
      Cuando el <strong>CLIENTE</strong> haya requerido un bloqueo preventivo o el servicio ha sido bloqueado por intentos fallidos o por olvido de la clave, <strong>EL CLIENTE</strong> deber&#225; ingresar a <strong>EL CANAL</strong>, a la opci&#243;n
      "<strong>Autogesti&#243;n de Clave</strong>", ingresar los datos requeridos y continuar con el proceso indicado en &#233;sta.
    </p>
    <p align="center">
      <strong>11.3. Otras Novedades.</strong>
    </p>
    <p align="center">
      En el evento que el <strong>CLIENTE</strong> inicie sesi&#243;n en <strong>EL CANAL</strong> y deje de usarla por un tiempo determinado o no cierre sesi&#243;n correctamente a trav&#233;s de la opci&#243;n "Salida Segura", el sistema finaliza la
      sesi&#243;n por inactividad y <strong>EL CLIENTE </strong>debe iniciarla nuevamente.
    </p>
    <p align="center">
      Por seguridad <strong>EL CANAL</strong> no permite abrir sesi&#243;n en varios equipos.
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA SEGUNDA- SARLAFT: EL CLIENTE</strong> conoce, entiende y acepta de manera voluntaria e inequ&#237;voca, que <strong>SERFINANSA</strong> en cumplimiento de su obligaci&#243;n legal de prevenir y controlar el lavado
      de activos y la financiaci&#243;n del terrorismo, siguiendo la jurisprudencia de la Corte Constitucional sobre la materia, y por constituir una causal objetiva, podr&#225; terminar, unilateralmente y sin previo aviso, la prestaci&#243;n de los servicios
      y del contenido de <strong>EL CANAL </strong>el cual se rige bajo el presente reglamento, cuando su nombre haya sido incluido en listas internacionales tales como ONU, FINCEN, y/o OFAC (Office of Foreign Control), esta &#250;ltima com&#250;nmente
      llamada lista Clinton. As&#237; mismo, podr&#225; darlo por terminado cuando <strong>EL CLIENTE</strong>, persona natural: i) registre en sus productos como autorizado o apoderado a una persona incluida en cualquiera de estas listas; ii) las autoridades
      competentes le inicien una investigaci&#243;n o lo hayan condenado por conductas relacionados con actividades il&#237;citas y/o relacionadas con el lavado de activos, la financiaci&#243;n del terrorismo y/o cualquiera de los delitos conexos de los
      que tratan el C&#243;digo Penal Colombiano y/o las normas que lo modifiquen, adicionen o complementen; iii) se detecten transacciones y/o una relaci&#243;n comercial entre <strong>EL CLIENTE</strong> y una persona incluida en las mencionadas listas
      y/o vinculadas con las actividades il&#237;citas descritas en el presente art&#237;culo; iv) se identifique que <strong>EL CANAL</strong> est&#225; siendo empleado para la movilizaci&#243;n de recursos provenientes de actividades il&#237;citas,
      o para la canalizaci&#243;n de recursos il&#237;citos cuyo destino sea el patrocinio de actividades il&#237;citas, v) Cuando al requerir a <strong>EL CLIENTE</strong>, justificaci&#243;n de operaciones catalogadas como inusuales o at&#237;picas
      &#233;ste se reh&#250;se a suministrarla o suministre informaci&#243;n errada, inexacta o inconsistente. <strong>PAR&#193;GRAFO SEGUNDO:</strong> Cuando la terminaci&#243;n unilateral de este servicio y contenido de <strong>EL CANAL</strong> corresponda
      a las circunstancias descritas en el presente art&#237;culo, no operar&#225; las notificaci&#243;n de informaci&#243;n y la entidad proceder&#225; a reportar &#250;nicamente a <strong>EL CLIENTE</strong> la cancelaci&#243;n inmediata de la prestaci&#243;n
      de servicios y contenidos de <strong>EL CANAL.</strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA TERCERA.- PROPIEDAD INTELECTUAL:</strong> Los derechos de <strong>EL CANAL</strong> son reservados y de propiedad de SERFINANSA por lo tanto, el cliente se compromete a no usarla para obstaculizar o impedir el correcto
      funcionamiento del sistema. Est&#225; totalmente prohibida la venta, copia, alteraci&#243;n y/o distribuci&#243;n del software, sus partes, as&#237; como la marca, el nombre, el logo y/o cualquiera de sus componentes que hacen parte de la misma,
      a menos que exista autorizaci&#243;n expresa dada a un tercero por parte de <strong>SERFINANSA, lo</strong>s cuales est&#225;n protegidos por leyes nacionales y tratados internacionalmente sobre la propiedad intelectual. Cualquier reproducci&#243;n
      o redistribuci&#243;n est&#225; expresamente prohibida por la ley y puede conllevar sanciones civiles y penales.
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA CUARTA.- MODIFICACIONES: SERFINANSA</strong> se reserva el derecho de modificar, limitar, suprimir o adicionar los t&#233;rminos de este reglamento, lo cual informar&#225; a EL CLIENTE mediante publicaci&#243;n
      en la p&#225;gina web de <strong>SERFINANSA. EL CLIENTE </strong>que<strong> </strong>continua utilizando <strong>EL CANAL</strong>, se entender&#225; que acepta las modificaciones, limitaciones, supresiones o adiciones.
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA QUINTA.- TERMINACI&#211;N:</strong> El presente reglamento tiene una vigencia indefinida. Sin embargo,<strong> SERFINANSA </strong>se reserva el derecho a terminar con la prestaci&#243;n de los servicios y contenidos
      incluidos en la aplicaci&#243;n y en este reglamento en cualquier momento, lo cual ser&#225; informado a trav&#233;s de su p&#225;gina web o en un diario de circulaci&#243;n nacional o mediante cartelera fijada en las oficinas de la red o por cualquier
      otro medio que se estime eficaz para tal fin.
    </p>
    <p align="center">
      <strong>CL&#193;USULA D&#201;CIMA SEXTA.- REGULACI&#211;N:</strong> La incorporaci&#243;n a los servicios de <strong>EL CANAL</strong> estar&#225; sujeta y se regular&#225; por lo previsto en el presente reglamento y en lo no expresado en este,
      se estar&#225; en lo prescrito en los contratos, convenios o reglamentos que regulen cada producto o servicio prestado por <strong>SERFINANSA</strong> y a la normatividad vigente.
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULAS ESPECIALES APLICACI&#211;N M&#211;VIL SERFINANSA</strong>
    </p>
    <p align="center">
      <strong></strong>
    </p>
    <p align="center">
      <strong>CL&#193;USULA PRIMERA.- ACCESO: </strong> Los servicios y contenido de la aplicaci&#243;n solo aplican para persona Natural.
    </p>
    <p align="center">
      <strong>CL&#193;USULA SEGUNDA.- DERECHOS DEL CLIENTE:</strong> La descarga de la <strong>APLICACI&#211;N M&#211;VIL,</strong> le confiere a <strong>EL CLIENTE</strong> el derecho a su uso personal, de manera no exclusiva y no transferible. <strong>EL CLIENTE</strong>      no podr&#225; licenciar, vender, revender, re-licenciar, asignar, distribuir, anunciar, explotar o sacar provecho comercial alguno de la aplicaci&#243;n, la marca, las herramientas o el servicio que provee. <strong>EL CLIENTE</strong> no podr&#225;
      modificar o hacer trabajos basados en el software, partes del software o la marca <strong>SERFINANSA. EL CLIENTE</strong> no podr&#225;n hacer links, hacer espejos de los servicios de <strong>SERFINANSA,</strong> o prestar el servicio a terceros.
      <strong>EL CLIENTE </strong>no podr&#225;n hacer "reverse-ingeneering" (Desarmar la aplicaci&#243;n en sus componentes para entender su funcionamiento, as&#237; sea con fines acad&#233;micos y/o no lucrativos). <strong>PAR&#193;GRAFO: EL CLIENTE </strong>se
      obliga a mantener actualizado la aplicaci&#243;n, para su correcto funcionamiento.
    </p>
    <p align="center">
      <strong>CL&#193;USULA TERCERA: USO DE SERVICIOS</strong> : Para realizar operaciones a trav&#233;s <strong>DEL CANAL</strong>, es necesario ser <strong>CLIENTE</strong> de <strong>SERFINANSA</strong> y contar con la clave que corresponda. <strong>SERFINANSA </strong>podr&#225;
      optar todos los mecanismos adicionales que estime convenientes, tales como claves adicionales
    </p>
  </ion-content>
</ion-view>
