

<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />' >
<div class="bar bar-subheader bar-assertive">
  <h2 class="title">Giramas</h2>
</div>
  <ion-content class="has-header has-subheader">
    <ion-item class="item-text-wrap">
         <h3>El valor total del giro se debitara a su tarjeta de credito.</h3>
    </ion-item>
  <div class="padding center">
    <div class="card">
      <div class="item item-divider">
        Datos del giro
      </div>
      <div class="center-text">
          <h2>${{giro.total| number:0}}</h2>
          <h4>Total</h4>
      </div>
    <div>
      <div class="list">

        <div class="row">
            <h5 class="labelinfo column left column left" >Celular de beneficiario</h5><h5 class="infobox column right column right">{{giro.celular_beneficiario}}</h5>
        </div>

        <div class="row">
            <h5 class="labelinfo column left column left" >Valor</h5><h5 class="infobox column right column right">${{giro.valor| number:0}}</h5>
        </div>
        <div class="row">
            <h5 class="labelinfo column left column left" >Comisi&oacute;n</h5><h5 class="infobox column right column right">${{giro.comision| number:0}}</h5>
        </div>
        <div class="row">
            <h5 class="labelinfo column left column left" >IVA</h5><h5 class="infobox column right column right">${{giro.iva| number:0}}</h5>
        </div>
     </div>

    </div>
      <div class="item item-divider">
        <button class="button1" ng-click="continuar(beneficiario)">
          Confirmar
        </button>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
