

<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />' >
<ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()" >
    <i class="icon ion-ios-arrow-back" style="color: white;"></i></button>
 </ion-nav-buttons>
<div class="bar bar-subheader bar-assertive">
  <h2 class="title">Giramas</h2>
</div>
  <ion-content class="has-header has-subheader">
    <ion-item class="item-text-wrap">
         <h3>El valor total del giro se debitara a su tarjeta de credito.</h3>
    </ion-item>
  <div class="padding center">
    <div class="card">
      <div class="item item-divider">
        Datos del giro
      </div>
    <div>
      <div class="list">
        <div class="row">
            <span class="labelinfo column left column left" >Celular de beneficiario</span><span class="infobox column right column right">{{giro.celular_beneficiario}}</span>
        </div>
        <div class="row">
            <span class="labelinfo column left column left" >Total</span><span class="infobox column right column right">{{giro.total| number:0}}</span>
        </div>
        <div class="row">
            <span class="labelinfo column left column left" >Valor</span><span class="infobox column right column right">{{giro.valor| number:0}}</span>
        </div>
        <div class="row">
            <span class="labelinfo column left column left" >Comici&oacute;n</span><span class="infobox column right column right">{{giro.comision| number:0}}</span>
        </div>
        <div class="row">
            <span class="labelinfo column left column left" >IVA</span><span class="infobox column right column right">{{giro.iva| number:0}}</span>
        </div>
        <div class="row">
            <span class="labelinfo column left column left" >IVA</span><span class="infobox column right column right">{{giro.iva| number:0}}</span>
        </div>
     </div>

    </div>
      <div class="item item-divider">
        <button class="button1" ng-click="continuar(beneficiario)">
          Confirmar
        </button>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
