<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />'>


  <ion-content class="has-header">
    <div class="flex-header center" style="background-color: white">
      <div class="center"><img src="/img/giramas_logo_120.png" class="subtitle-image-header" /></div>
    </div>
    <ion-item class="item-text-wrap" style="boder: 0px !important">
      <p>El valor total del giro y de la comisi&oacute;n se debitar&aacute; de tu Tarjeta Ol&iacute;mpica.</p>
    </ion-item>
    <div class="padding">
      <div class="card">
        <div class="item item-divider">
          Datos del beneficiario
        </div>
        <form name="formularioGiro" novalidated>
          <div class="list">
            <label class="item-input item-select">
              <div class="input-label label1">
                  Tipo de documento
              </div>
              <select ng-model='beneficiario.tipo_id_beneficiario'>
                <option class="label1" value="CC" >C&eacute;dula</option>
                <option class="label1" value="Nit">Nit</option>
              </select>
            </label>

            <label class="item item-input item-floating-label">
               <div class="input-label label1">N&uacute;mero de identificaci&oacute;n</div>
               <input class="input1" type="number" ng-required="true" inputmode="numeric" name="num_id" placeholder="N&uacute;mero de identificaci&oacute;n" ng-model='beneficiario.id_beneficiario'>
            </label>
            <label class="item item-input item-floating-label">
               <p class="input-label">Nombre</p>
               <input class="input1" type="text" ng-required="true" inputmode="text" placeholder="Nombre" name="nombre" ng-model='beneficiario.nombre_beneficiario'>
            </label>
            <label class="item item-input item-floating-label">
               <p class="input-label">Celular</p>
               <input class="input1" name="celular"  ng-required="true" type="text" ui-mask="(999) 999-9999" inputmode="numeric" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Celular"  ng-model='beneficiario.celular_beneficiario'>
            </label>
            <label class="item item-input item-floating-label">
               <p class="input-label">Valor del giro</p>
               <input class="input1" type="text" ng-required="true" name="valor" placeholder="Valor del giro" pattern="[0-9]*" inputmode="numeric" min="20000" max="700000"  ng-model='beneficiario.valor' real-time-currency>
            </label>
            <label class="item item-input item-floating-label">
               <p class="input-label">Repita el valor del giro</p>
               <input class="input1" type="text" ng-required="true" name="valor2" placeholder="Repita el valor del giro" pattern="[0-9]*" inputmode="numeric" min="20000" max="700000"  ng-model='beneficiario.valor2' real-time-currency>
            </label>


            <div class="form-group" ng-class="{ 'has-error' : formularioGiro.email.$invalid && !formularioGiro.email.$pristine }">
              <label>Email</label>
              <input type="email" name="email" class="form-control" ng-model="user.email">
              <p ng-show="formularioGiro.email.$invalid && !formularioGiro.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
          </div>
          <div class="item item-divider">
            <button class="button1" ng-click="continuar(beneficiario, formularioGiro.$valid)">
              Continuar
            </button>
          </div>
        </form>
      </div>
      <div class="alert alert-error" ng-show="submitted && !formularioGiro.$valid">
        <div ng-show="submitted && formularioGiro.num_id.$error.required">*N&uacute;mero de identificaci&oacute;n requerido</div>
        <div ng-show="submitted && formularioGiro.nombre.$error.required">*Nombre requerido</div>
        <div ng-show="submitted && formularioGiro.celular.$error.required">*Celular requerido</div>
        <div ng-show="submitted && formularioGiro.valor.$error.required">*Ingresa el valor del giro</div>
        <div ng-show="submitted && formularioGiro.valor2.$error.required">*Repite el valor del giro</div>
      </div>
    </div>
  </ion-content>
</ion-view>
