

<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />' >

<div class="bar bar-subheader bar-assertive">
  <h2 class="title">Giramas</h2>
</div>
  <ion-content class="has-header has-subheader">
    <ion-item class="item-text-wrap">
         <h3>El valor total del giro se debitara a su tarjeta de credito.</h3>
    </ion-item>
  <div class="padding">
    <div class="card">
      <div class="item item-divider">
        Beneficiario
      </div>
      <form name="formularioGiro" novalidated>
        <div class="list">
          <label class="item-input item-select">
            <div class="input-label label1">
              Tipo de documento
            </div>
          <select ng-model='beneficiario.tipo_id_beneficiario'>
            <option class="label1" value="CC" selected>C&eacute;dula</option>
            <option class="label1" value="Nit">Nit</option>
          </select>
         </label>

         <label class="item item-input item-floating-label">
           <p class="input-label">N&uacute;mero de identificaci&oacute;n</p>
           <input class="input1" type="text" ng-required="true" name="num_id" placeholder="N&uacute;mero de identificaci&oacute;n" ng-model='beneficiario.id_beneficiario'>
         </label>
         <label class="item item-input item-floating-label">
           <p class="input-label">Nombre</p>
           <input class="input1" type="text" ng-required="true" inputmode="text" placeholder="Nombre" name="nombre" ng-model='beneficiario.nombre_beneficiario'>
         </label>
         <label class="item item-input item-floating-label">
           <p class="input-label">Celular</p>
           <input class="input1" name="celular"  ng-required="true" type="text" ui-mask="(999) 999-9999" inputmode="numeric" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Celular"  ng-model='beneficiario.celular_beneficiario'>
         </label>
         <label class="item item-input item-floating-label">
           <p class="input-label">Valor</p>
           <input class="input1" type="text" ng-required="true" name="valor" placeholder="Valor" pattern="[0-9]*" inputmode="numeric" min="20000" max="700000"  ng-model='beneficiario.valor' real-time-currency>
         </label>
       </div>
        <div class="item item-divider">
          <button class="button1" ng-click="continuar(beneficiario, formularioGiro.$valid)">
            Continuar
          </button>
        </div>
    </form>
    </div>
    <div class="alert alert-error" ng-show="submitted && !formularioGiro.$valid">
      <div ng-show="submitted && formularioGiro.num_id.$error.required">*N&uacute;mero de identificaci&oacute;n requerido</div>
      <div ng-show="submitted && formularioGiro.nombre.$error.required">*Nombre requerido</div>
      <div ng-show="submitted && formularioGiro.celular.$error.required">*Celular requerido</div>
      <div ng-show="submitted && formularioGiro.valor.$error.required">*Ingrese el valor del giro</div>
    </div>
  </div>
  </ion-content>
</ion-view>
