<ion-view cache-view="false" view-title='<img class="title-image" src="img/logos-01.png" />'>
  <div>
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </div>
  <div class="bar bar-subheader bar-assertive">
    <h2 class="title">Cambio de clave</h2>
  </div>
  <ion-content class="center padding has-header has-subheader">
    <div class="list">
      <label class="item item-input">
        <input type="password" pattern="[0-9]*" inputmode="numeric"  placeholder="Nueva Clave" ng-model="pass" ng-maxlength="4" maxlength="4">
      </label>
      <label class="item item-input">
        <input type="password" pattern="[0-9]*" inputmode="numeric"  placeholder="Confrime Nueva Clave" ng-model="confirmPass" ng-maxlength="4" maxlength="4">
      </label>

      <button class="button button-block button-positive btn-login padding-box margin" ng-click="resetPass(pass, confirmPass)">
        Cambiar Clave
      </button>
    </div>
  </ion-content>
</ion-view>
